Beaker==1.8.0
chardet==2.3.0
cupshelpers==1.0
docopt==0.6.2
lightdm-gtk-greeter-settings==1.2.0
louis==2.6.5
Mako==1.0.4
MarkupSafe==0.23
namcap==3.2.7
packaging==16.7
pacman-mirrors==2.0
ptyprocess==0.5.1
pyalpm==0.8
pycups==1.9.73
pycurl==7.43.0
pyelftools==0.23
pygobject==3.20.0
pyparsing==2.1.1
pyxdg==0.25
PyYAML==3.11
requests==2.10.0
six==1.10.0
team==1.0
udiskie==1.4.8
urllib3==1.15.1
virtualenv==15.0.1
youtube-dl==2016.3.26
